<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
			<div class="container">
				<h1>test1</h1>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="container">
				<h1>test2</h1>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="container">
				<h1>test1</h1>
			</div>
		</div>
	</div>

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="swiper-pagination"></div>
	<!-- If we need scrollbar -->
	<!-- <div class="swiper-scrollbar"></div> -->
</div>