.production__slider-arows svg
{
	background: blue;
}
.production
{
	background: blue;
}
.production__title-wrap span
{
	font-size: 15px;
	font-weight: 500;
	line-height: 16.5px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
}
h1
{
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	max-width: 280px;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 40px;
}