<section class="production">
	<div class="container">
		<div class="production__title-wrap">
			<span>ФормКомпозит</span>
			<h1>Производство несущих и крепёжных систем</h1>
		</div>
		<div class="production__slider-wrap">
			<div class="production__slider-number">
				<p class="production__slider-items">01</p>
				<p class="production__slider-items">/</p>
				<p class="production__slider-items">03</p>
			</div>
			<div class="production__slider-arows--wrap">
				<div class="production__slider-pause">||</div>
				<div class="production__slider-arows">
					{% include 'assets/svg/arrow-left.svg' %}
					{% include 'assets/svg/arrow-left.svg' %}
				</div>
			</div>
		</div>
		<div class="production__slider-lines">
			<div class="production__slider-lines--items"></div>
			<div class="production__slider-lines--items"></div>
			<div class="production__slider-lines--items"></div>
		</div>
	</div>
</section>