*
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}
a
{
	text-decoration: none;
}
li
{
	list-style-type: none;
}
.container
{
	max-width: 1520px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
.container-flex
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
