<section class="clients">
	<div class="container">
		<div class="clients__wrap">
			<h3 class="clients__titlle">ФормКомпозит — российская компания, производящая несущие и крепёжные системы из композиционных стеклопластиков методом пултрузии</h3>
			<div class="clients__wrap-list">
				<span class="clients__wrap-text">Наши решения подходят для кабельной прокладки и крепления в агрессивных средах, где не справляются даже металл или бетон:
				</span>
				<ul class="clients__list">
					<li class="clients__list-items">
						<div class="crug"></div>
						<span>Химическая промышленность</span>
					</li>
					<li class="clients__list-items">
						<div class="crug"></div>
						<span>Энергетическая промышленность</span>
					</li>
					<li class="clients__list-items">
						<div class="crug"></div>
						<span>Металлургическая промышленность</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="clients__picture-rewers">
			<div class="clients__picture">
				<div class="clients__picture-wrap">
					<img src="images/nornikel.png" alt="">
					<img src="images/kolskaya.png" alt="">
					<img src="images/rusgidro.png" alt="">
					<img src="images/fosagro.png" alt="">
					<img src="images/GM.png" alt="">
				</div>
			</div>
			<button class="clients__btn">
				Подробнее о компании
			</button>
		</div>
	</div>
</section>