<section class="clients">
	<div class="container clients__grid">
		<h3 class="clients__titlle">
			ФормКомпозит — российская компания, производящая несущие и крепёжные системы из композиционных стеклопластиков методом пултрузии
		</h3>
		<div class="clients__list">
			<span class="clients__text">Наши решения подходят для кабельной прокладки и крепления в агрессивных средах, где не справляются даже металл или бетон:
			</span>
			<ul class="clients__inner-list">
				<li class="clients__list-items">
					<div class="clients__list-marker"></div>
					<span>Химическая промышленность</span>
				</li>
				<li class="clients__list-items">
					<div class="clients__list-marker"></div>
					<span>Энергетическая промышленность</span>
				</li>
				<li class="clients__list-items">
					<div class="clients__list-marker"></div>
					<span>Металлургическая промышленность</span>
				</li>
			</ul>
		</div>
		<div class="clients__picture">
			<img onclick="mainObj.gPopup.open('.test-cont')" src="images/nornikel.png" alt="">
			<img onclick="mainObj.gPopup.open('.test-cont',1)" src="images/kolskaya.png" alt="">
			<img onclick="mainObj.gPopup.open('.test-cont',2)" src="images/rusgidro.png" alt="">
			<img onclick="mainObj.gPopup.open('.test-cont',3)" src="images/fosagro.png" alt="">
			<img onclick="mainObj.gPopup.open('.test-cont',4)" src="images/GM.png" alt="">
		</div>
		<button class="clients__btn">
			Подробнее о компании
		</button>
	</div>
</section>