<header>
	<div class="header__main container container-flex">
		{% include 'assets/svg/logo.svg' %}
		<div class="header__burger active" onclick="mainObj.header.show(this)">
			<div class="header__burger-line"></div>
			<div class="header__burger-line header__burger-line--small"></div>
		</div>
	</div>
	<div class="header__wrap">
		<div class="container">
			<ul class="header__list">
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						О компании
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Проекты
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Продукция
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Испытания
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Карьера
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Новости
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Документация
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Проектировщику
					</a>
				</li>
				<li class="header__list-items">
					<a href="" class="burger_list-link">
						Контакты
					</a>
				</li>
			</ul>
			<div class="header__phone">
				<a href="tel:+74952155512">+7 (495) 21-555-12</a>
				<a href="#">info@formcomposite.ru</a>
			</div>
			<button class="header__btn">Задать вопрос</button>
		</div>
	</div>
</header>