@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Bold/Raleway-Bold.eot");
  src: url("fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-Bold/Raleway-Bold.woff2") format("woff2"), url("fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-SemiBold/Raleway-SemiBold.eot");
  src: url("fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-SemiBold/Raleway-SemiBold.woff2") format("woff2"), url("fonts/Raleway-SemiBold/Raleway-SemiBold.woff") format("woff"), url("fonts/Raleway-SemiBold/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular/Raleway-Regular.eot");
  src: url("fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-Regular/Raleway-Regular.woff2") format("woff2"), url("fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1520px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: red;
}

footer {
  background: green;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog__item {
  background: black;
  flex-basis: 30%;
  height: 100px;
}

.news__item {
  background: green;
  margin-bottom: 10px;
}