<section class="news container">
	<div class="news__title">
		<h3>Новости</h3>
		<div class="news__dotted">
			<div class="news__dotted-items"></div>
			<div class="news__dotted-items"></div>
			<div class="news__dotted-items"></div>
		</div>
	</div>
	<div class="news__slider">
		<div class="news__item _item">
			<div class="_wr heig">
				<div class="news__item-el heig " style="background-image: url('images/bigbg.png');">
					<h3>Обновлённый каталог продукции 2023</h3>
					<div class="news__item-link container-flex">
						<span>01.09.23</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="news__item _item">
			<div class="_wr">
				<div class="news__item-el">
					<h4>
						Компания «Формкомпозит» завершает 2022 год активными поставками продукции на ключевые и особо важные объекты страны!
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="_wr">
				<div class="news__item-el">
					<div class="news__item-wr">
						<h4>
							Формкомпозит теперь на YouTube!
						</h4>
						<p>
							Мы рады сообщить, об открытии официального канала компании "Формкомпозит" на платформе видео-хостинга YouTube
						</p>
					</div>
					<div class="news__item-link container-flex">
						<span>04.08.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="news__item _item">
			<div class="_wr">
				<div class="news__item-el">
					<div class="news__item-wr">
						<h4>
							Успешное завершение испытаний по ГОСТ 52868-2007
						</h4>
						<p>
							Мы рады сообщить, что компания "Формкомпозит" успешно испытала систему опорных композитных кабельных конструкций согласно ГОСТ 52868-2007!
						</p>
					</div>
					<div class="news__item-link container-flex">
						<span>04.08.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="_wr">
				<div class="news__item-el" style="background-image: url('images/smallbg.png');">
					<h4>
						Запуск производства монтажного страт-профиля
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button class="news__btn _btn container-flex" onclick="mainObj.news.move()">
		<span class="news__btn-text">Все новости</span>
		{% include 'assets/svg/arrowUpRight.svg' %}
	</button>
	
		<!-- <a href="#" class="news__btn">
			<span class="news__btn-text">Все новости</span>
			{% include 'assets/svg/arrowUpRight.svg' %}
		</a> -->














	</section>