<section class="news container">
	<div class="news__title">
		<h3>Новости</h3>
		<div class="news__dotted">
			<div class="news__dotted-items"></div>
			<div class="news__dotted-items"></div>
			<div class="news__dotted-items"></div>
		</div>
	</div>
	<div class="news-slider">




		<div class="news-slider__items news-slider__items--bigbg">
			<h3 class="news-slider__items-title">Обновлённый каталог продукции 2023</h3>
			<div class="news-slider__items-wrap">
				<span class="news-slider__items--text">01.09.23</span>
				<a href="#" class="news-slider__items-arrow">
					{% include 'assets/svg/arrowSlider.svg' %}
				</a> 
			</div>
		</div>






		<div class="news-slider__items">
				<h4>Компания «Формкомпозит» завершает 2022 год активными поставками продукции на ключевые и особо важные объекты страны!</h4>
			<div class="news-slider__items-wrap">
				<span class="news-slider__items--text">12.12.2022</span>
				<a href="#" class="news-slider__items-arrow">
					{% include 'assets/svg/arrowSlider.svg' %}
				</a> 
			</div>
		</div>


		<div class="news-slider__items">
			<div class="news-slider__items-subtitle">
				<h4>Формкомпозит теперь на YouTube!</h4>
				<p>Мы рады сообщить, об открытии официального канала компании "Формкомпозит" на платформе видео-хостинга YouTube</p>
			</div>
			<div class="news-slider__items-wrap">
				<span class="news-slider__items--text">04.08.2022</span>
				<a href="#" class="news-slider__items-arrow">
					{% include 'assets/svg/arrowSlider.svg' %}
				</a> 
			</div>
		</div>
		<div class="news-slider__items"></div>
		<div class="news-slider__items news-slider__items--smallbg"></div>
	</div>
</section>